<% fillings = ["carnitas", "al pastor", "steak", "pescado", "chicken"] %>

<h1>I love tacos!</h1>

<p>There are <%= fillings.length %> tacos:</p>

<ul>

  <% for filling in fillings %>
    <li><%= filling%></li>
  <% end %>

</ul>